:root{
    --nutmeg: hsl(14, 45%, 36%);
    --raspberry: hsl(332, 51%, 32%);
    --white: hsl(0, 0%, 100%);
    --rose-white: hsl(330, 100%, 98%);
    --eggshell: hsl(30, 54%, 90%);
    --wenge-brown: hsl(30, 10%, 34%);
    --dark-charcoal: hsl(24, 5%, 18%);
}

body{
    background-color: var(--eggshell);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 120px 0;
}

main{
    border-radius: 15px;
    background-color: var(--white);
    padding: 1.5em;
    width: 43em;
}

.imagem img{
    border: 1px solid var(--white);
    border-radius: 10px;
}

h1, h2{
    font-family: "Young Serif", sans-serif;
    font-weight: 400;
}

p, h3, li{
    font-family: "Outfit", sans-serif;
}

p{
    font-weight: 500;
    color: var(--wenge-brown);
}

li{
    color: var(--wenge-brown);
    font-weight: 500;
    margin: 15px 0 20px 25px;
    padding-left: 14px;
}

h2, th{
    color: var(--nutmeg);
}

span{
    color: var(--wenge-brown);
    font-weight: 700;
}

.preparation{
    background-color: var(--rose-white);
    padding: 4px 20px;
    border: 1px solid var(--rose-white);
    border-radius: 10px;
    margin-top: 30px;
}

.preparation h3, li::marker{
    color: var(--raspberry);
}

.Instructions{
    border-top: 1px solid var(--eggshell);
    border-bottom: 1px solid var(--eggshell);
}

.Instructions, .Ingredients li::marker{
    color: var(--nutmeg);
}

.nutrition p{
    display: inline-block;
}

.macro{
    text-align: left;
    width: 25%;
    margin-right: 20%;
    margin-left: 10%;
    
}

.value{
    text-align: left;
    font-weight: bold;
    color: var(--nutmeg);
}