body{
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 120px 0;
}

main{
    border-radius: 15px;
    background-color: #fff;
    padding: 1.5em;
    width: 43em;
}

.image{
    border: 1px solid #fff;
    border-radius: 10px;
}

.title, .subtitle{
    font-family: "Young Serif", sans-serif;
    font-weight: 400;
}

p, .prep-title, li{
    font-family: "Outfit", sans-serif;
}

p, li{
    font-weight: 500;
    color: var(--txt-color);
}

li{
    margin: 15px 0 20px 25px;
    padding-left: 14px;
}

.subtitle{
    color: var(--subtitle);
}

span{
    color: var(--txt-color);
    font-weight: 700;
}

.preparation{
    background-color: var(--prep-box);
    padding: 4px 20px;
    border: 1px solid var(--prep-box);
    border-radius: 10px;
    margin-top: 30px;
}

.preparation .prep-title, li::marker{
    color: var(--prep-title);
}

.Instructions{
    border-top: 1px solid var(--bg-color);
    border-bottom: 1px solid var(--bg-color);
}

.Instructions, .Ingredients li::marker{
    color: var(--subtitle);
}

.nutrition p{
    display: inline-block;
}

.macro{
    text-align: left;
    width: 25%;
    margin-right: 20%;
    margin-left: 10%;
    
}

.value{
    text-align: left;
    font-weight: bold;
    color: var(--subtitle);
}